
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
    <p></p>
</div>
<div class="notification error png_bg" style="width:98%; font-size:x-large">
    <a href="#" class="close">
        <img src="@Url.Content("~/Content/images/icons/cross_grey_small.png")" title="Close this notification"
             alt="close" />
    </a>
    <div>
        You don't allowed to access this page. 
        Please contract administrator.
    </div>
</div>

